<DOCTYPE html>
<html ng-app="queueApp">
<head>
	<title>ParseQ</title>
	<link rel="stylesheet" href="main.css"></link>
</head>
<body ng-controller="mainController">

<input ng-model="question" placeholder="Ask a Question"></input>

<button ng-click="postQuestion()">Submit</button>

<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="controllers/mainController.js"></script>
<script src="services/parseService.js"></script>
<script src="js/defaultHeaders.js"></script>
</body>
</html>